.hero {
  background-image: url("/montreal-skyline.jpg");
  background-size: cover;
  height: 50vh;
  background-position: 50% 50%;
  position: relative;
  border-radius: 8px;
}

.informationBox {
  position: absolute;
  top: 0;
  transform: translate(-24px, -100%);
  left: 0;
  padding: 24px;
  border-radius: 12px;
  background-color: white;
}

.content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 96px;
}

.loginButton {
  margin-top: 24px;
  display: block;
  text-decoration: none;
  color: var(--mantine-color-blue-5);
}

.downloadButton {
  text-decoration: none;
  background-color: var(--mantine-color-blue-5);
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
}
