.hero {
  background-image: url("/montreal-skyline.jpg");
  background-size: cover;
  height: 50vh;
  background-position: 50% 50%;
  margin-bottom: 124px;
  position: relative;
  border-radius: 8px;
}

.informationBox {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  left: 128px;
  padding: 24px;
  border-radius: 12px;
  background-color: white;
}

.loginButton {
  margin-top: 24px;
  display: block;
  text-decoration: none;
  color: var(--mantine-color-blue-5);
}

.downloadButton {
  text-decoration: none;
  background-color: var(--mantine-color-blue-5);
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
}
